<?xml version="1.0"?>
<robot name="bulldozer_bot"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <material name="camera_grey">
    <color rgba="0.81 0.81 0.81 1.0" />
  </material>

  <material name="lidar_black">
    <color rgba="0.22 0.22 0.22 1.0" />
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://custom_urdf/src/meshes/my_urdf/base_footprint.STL"  />
      </geometry>
      <origin xyz="0 0 0.1625" rpy="0 0 1.5708" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://custom_urdf/src/meshes/my_urdf/base_footprint.STL"  />
      </geometry>
      <origin xyz="0 0 0.1625" rpy="0 0 1.5708" />
    </collision>
    <inertial>
      <mass value="25.0" />
      <origin xyz="0 0 0.1625" />
      <inertia ixx="1.3669" ixy="0.0" ixz="0.0" iyy="3.3602" iyz="0.0" izz="4.7271" />
    </inertial>
  </link>


  <link name="front_right_wheel_link">
    <inertial>
      <mass value="2.27" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.0255" ixy="0.0" ixz="0.0" iyy="0.0255" iyz="0.0" izz="0.0510" />
    </inertial>
    <collision>
      <geometry>
        <cylinder length="0.127" radius="0.1016" />
      </geometry>
      <origin xyz="0 0 0" rpy="1.5708 0 0" />
    </collision>
  </link>

  <link name="front_left_wheel_link">
    <inertial>
      <mass value="2.27" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.0255" ixy="0.0" ixz="0.0" iyy="0.0255" iyz="0.0" izz="0.0510" />
    </inertial>
    <collision>
      <geometry>
        <cylinder length="0.127" radius="0.1016" />
      </geometry>
      <origin xyz="0 0 0" rpy="-1.5708 0 0" />
    </collision>
  </link>

  <link name="rear_right_wheel_link">
    <inertial>
      <mass value="2.27" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.0255" ixy="0.0" ixz="0.0" iyy="0.0255" iyz="0.0" izz="0.0510" />
    </inertial>
    <collision>
      <geometry>
        <cylinder length="0.127" radius="0.1016" />
      </geometry>
      <origin xyz="0 0 0" rpy="1.5708 0 0" />
    </collision>
  </link>

  <link name="rear_left_wheel_link">
    <inertial>
      <mass value="2.27" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.0255" ixy="0.0" ixz="0.0" iyy="0.0255" iyz="0.0" izz="0.0510" />
    </inertial>
    <collision>
      <geometry>
        <cylinder length="0.127" radius="0.1016" />
      </geometry>
      <origin xyz="0 0 0" rpy="-1.5708 0 0" />
    </collision>
  </link>

  <joint name="base_rear_right_wheel_joint" type="fixed">
    <parent link="base_link" />
    <child link="rear_right_wheel_link" />
    <origin xyz="-0.235 -0.25 0.08" rpy="0 0 0" />
    <axis xyz="0 1 0" />
  </joint>

  <joint name="base_rear_left_wheel_joint" type="fixed">
    <parent link="base_link" />
    <child link="rear_left_wheel_link" />
    <origin xyz="-0.235 0.25 0.08" rpy="0 0 0" />
    <axis xyz="0 1 0" />
  </joint>

  <joint name="base_front_right_wheel_joint" type="fixed">
    <parent link="base_link" />
    <child link="front_right_wheel_link" />
    <origin xyz="0.215 -0.25 0.08" rpy="0 0 0" />
    <axis xyz="0 1 0" />
  </joint>

  <joint name="base_front_left_wheel_joint" type="fixed">
    <parent link="base_link" />
    <child link="front_left_wheel_link" />
    <origin xyz="0.215 0.25 0.08" rpy="0 0 0" />
    <axis xyz="0 1 0" />
  </joint>

</robot>