<launch>
    <!-- Rosserial Node for Arduino Communication with Optimized Parameters -->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="57600" />
        <param name="queue_size" value="10"/>
        <param name="publish_rate" value="50"/>
    </node>

    <!-- Zero out cmd_vel on startup  -->
    <!-- <node pkg="delivery_bot" type="zero_cmd_vel.py" name="zero_cmd_vel_publisher" output="screen"/> -->

    <!-- <node pkg="delivery_bot" type="teleop.py" name="joystick_to_cmd_vel" output="screen"/> -->

    <!-- Rosbridge WebSocket Server for Web Communication -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="9090"/>
        <arg name="address" value="10.108.43.165"/>
    </include>
    
    <!-- Web Video Streaming Server --> 
    <node name="web_video_server" pkg="web_video_server" type="web_video_server" />
    

    <!-- Include the Astra camera launch file -->
    <include file="$(find astra_camera)/launch/astra_pro.launch" />

    <!-- stream the data to website-->
    <node pkg="image_transport" type="republish" name="republish_compressed" output="screen" args="raw in:=/camera/color/image_raw compressed out:=/camera/color/image_compressed">
            <param name="compressed/format" value="jpeg"/>
            <param name="compressed/jpeg_quality" value="80"/>
    </node>

    <!--node
        name="odom_to_dummy_tf"
        pkg="tf"
        type="static_transform_publisher"
        args="0 0 0 0 0 0 odom dummy_root 100"
        output="screen" />
    
    
    <node name="map_to_odom_tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map odom 100" output="screen"/-->
    <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_base_link"
      args="0 0 0 0 0 0 map base_link 10"/>
    <node pkg="tf" type="static_transform_publisher" name="map_to_base_footprint"
      args="0 0 0 0 0 0 map base_footprint 10"/> -->


    <arg name="model" default="$(find delivery_bot)/description/trail.urdf.xacro" />
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <node
        name="joint_state_publisher"
        pkg="joint_state_publisher"
        type="joint_state_publisher" />
    <node
        name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher" />
	
    <!-- RPLIDAR A1 Node -->
    <node pkg="rplidar_ros" type="rplidarNode" name="rplidar_node" output="screen">
        <param name="serial_port" value="/dev/ttyUSB0" />
        <param name="serial_baudrate" value="115200" />
        <param name="frame_id" value="laser_frame" />
        <param name="inverted" value="false" />
        <param name="angle_compensate" value="true" />
    </node>

    <!-- <node name="laser_odom" pkg="laser_odom" type="laser_odom" output="screen" >
      <param name="debug" value="true" />
      <param name="base_frame" value="base_link" />
      <param name="laser_frame" value="laser_frame" />
      <param name="laser_base_frame" value="base_link" />
      <param name="odom_frame" value="odom" />
    </node> -->
    
    <node name="laser_odom" pkg="laser_odom" type="laser_odom" output="screen" >
      <param name="debug" value="false" />
      <param name="base_frame" value="base_link" />
      <param name="laser_base_frame" value="laser_frame" />
      <param name="laser_frame" value="laser_frame" />
      <param name="odom_frame" value="odom" />
      <param name="min_update_dist" value="0.05" />
      <param name="min_update_angle" value="5.0 * PI / 180" />
    </node>

    <!-- <arg name="map_file" default="$(find drl_vo_nav)/maps/jared_7th.yaml"/> -->
    <!-- <arg name="map_file" default="$(find drl_vo_nav)/maps/202404041210_lobby/202404041210_lobby.yaml"/> -->
    <!-- <arg name="map_file" default="$(find drl_vo_nav)/maps/202404041345_eng_6th/202404041345_eng_6th.yaml"/> -->

    <!-- <arg name="map_file" default="$(find delivery_bot)/maps/alkesh/202404041345_eng_6th/202404041345_eng_6th.yaml"/> -->
    <!-- <arg name="map_file" default="$(find delivery_bot)/maps/alkesh/202404041210_lobby/202404041210_lobby.yaml"/> -->
    <arg name="map_file" default="$(find delivery_bot)/maps/jared_7th.yaml"/> 
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
    

    

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find delivery_bot)/rviz/navigation.rviz" output="screen"/>
</launch>